{% extends "base.html" %} {% block content %}
<h1># welcome</h1>

<p>
  May this blog be home to my many toughts and let them take the shape of words.
</p>

<p>Hello :), I'm niki, an 18-year old boy from romania who fears God.</p>

<br />
<p>
  Many thanks to the tools that made my blog possible:
  <a href="https://www.getzola.org/" target="_blank">Zola</a>
  for static site generation from .md files,
  <a href="https://docs.github.com/en/pages" target="_blank">GitHub Pages</a>
  for hosting this and
  <a href="https://fonts.google.com/" target="_blank">Google Fonts</a> for this
  beautiful typography:
  <a href="https://fonts.google.com/specimen/DM+Mono" target="_blank"
    >DM Mono</a
  >
</p>

{% endblock content %}
