{% extends "base.html" %}

{% block content %}
<h1>hello and welcome</h1>

<p>
this blog is a place where i can write my thoughts on the stuff that i'm doing. i like to imagine this blog as a little room with papers scattered everywhere
</p>

<p>
whoami? im niki, im 18 years old, im from romania and i fear God
</p>

<p>
that's a little about me, check out the <a href="{{ get_url(path="/posts/") }}">posts</a>
</p>
<br>
<p>
this blog uses the static site generator <a href="https://www.getzola.org/">zola</a> and the font <a href="https://fonts.google.com/specimen/DM+Mono">DM Mono</a>
</p>
{% endblock content %}
